<div class="flex items-center justify-center min-h-screen bg-dracula-bg">
  <div class="bg-dracula-current-line p-8 rounded-lg shadow-lg max-w-sm w-full">
      <h2 class="text-2xl font-bold mb-6 text-center text-dracula-text">Criar Conta</h2>
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
          <div class="mb-4">
              <label for="username" class="block text-sm font-medium text-dracula-text">Usuário</label>
              <input
                  type="text"
                  id="username"
                  name="username"
                  ngModel
                  required
                  class="mt-1 block w-full px-3 py-2 border border-dracula-current-line bg-dracula-bg text-dracula-text rounded-md shadow-sm focus:outline-none focus:ring-dracula-cyan focus:border-dracula-cyan sm:text-sm"
                  placeholder="Digite seu nome de usuário"
              />
          </div>
          <div class="mb-6">
              <label for="password" class="block text-sm font-medium text-dracula-text">Senha</label>
              <input
                  type="password"
                  id="password"
                  name="password"
                  ngModel
                  required
                  minlength="6"
                  class="mt-1 block w-full px-3 py-2 border border-dracula-current-line bg-dracula-bg text-dracula-text rounded-md shadow-sm focus:outline-none focus:ring-dracula-cyan focus:border-dracula-cyan sm:text-sm"
                  placeholder="Digite sua senha"
              />
          </div>
          <button
              type="submit"
              class="w-full py-2 px-4 bg-dracula-cyan text-dracula-bg font-semibold rounded-md shadow-sm hover:bg-dracula-cyan focus:outline-none focus:ring-2 focus:ring-dracula-cyan focus:ring-offset-2"
          >
              Criar Conta
          </button>
      </form>
      <div class="mt-6 text-center">
          <p class="text-dracula-text">Já tem uma conta?</p>
          <a
              routerLink="/"
              class="text-dracula-cyan hover:underline"
          >
              Faça login
          </a>
      </div>
  </div>
</div>
